html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#react {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
input[type="color"] {
  vertical-align: baseline;
}
.active {
  color: red;
}
